@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(180deg, #F5D256 0%, #FBEE7D 100%);
}

.menu-cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.imagem-menu-cabecalho {
    height: 72px;
}

.conteudo-menu-cabecalho {
    display: flex;
    gap: 34px;
}

.item-menu-cabecalho {
    font-family: 'VT323';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 28px;
}

.item-menu-cabecalho:hover {
    color: #1D1919;
}

.conteudo {
    margin-bottom: 38px;
    border-top: 0.4px solid #FFFFFF;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}

.bloco-conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-left: 62px;
}

.titulo-conteudo-principal {
    font-family: 'VT323';
    font-weight: 400;
    font-size: 68px;
    color: #FFFFFF;
}

.subtitulo-conteudo-principal {
    font-family:'Quicksand';
    font-weight: 400;
    font-size: 24px;
    color: #1D1919;
    align-items: center;
}

.botao-conteudo-principal {
    margin-top: 60px;
    font-family: 'VT323';
    font-weight: 400;
    font-size: 58px;
    color: #F7D960;
    background-color: #FFFFFF;
    width: 400px;
    height: 100px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 21px;
    border: none;
}

.botao-conteudo-principal:hover {
    background-color:#f8e0809d;
    color: #FFFFFF;
}

.imagem-conteudo-principal {
    height: 530px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagem-rodape {
    height: 48px;
   
}

.texto-rodape {
    margin-top: 30px;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    
}